@font-face {
  font-family: "NoeDisplay-Bold";
  src: url("../fonts/NoeDisplay-Bold/30a71dcf9a1c39558ca4e97c92a4b2fa.eot"); /* IE9*/
  src: url("../fonts/NoeDisplay-Bold/30a71dcf9a1c39558ca4e97c92a4b2fa.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/NoeDisplay-Bold/30a71dcf9a1c39558ca4e97c92a4b2fa.woff2")
      format("woff2"),
    /* chrome、firefox */
      url("../fonts/NoeDisplay-Bold/30a71dcf9a1c39558ca4e97c92a4b2fa.woff")
      format("woff"),
    /* chrome、firefox */
      url("../fonts/NoeDisplay-Bold/30a71dcf9a1c39558ca4e97c92a4b2fa.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../fonts/NoeDisplay-Bold/30a71dcf9a1c39558ca4e97c92a4b2fa.svg#NoeDisplay-Bold")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "Avenir Book";
  src: url("331ec49c0d78e469c42c1d814dd45838.eot"); /* IE9*/
  src: url("331ec49c0d78e469c42c1d814dd45838.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("331ec49c0d78e469c42c1d814dd45838.woff2") format("woff2"),
    /* chrome、firefox */ url("331ec49c0d78e469c42c1d814dd45838.woff")
      format("woff"),
    /* chrome、firefox */ url("331ec49c0d78e469c42c1d814dd45838.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("331ec49c0d78e469c42c1d814dd45838.svg#Avenir Book") format("svg"); /* iOS 4.1- */
}
.noe {
  font-family: "NoeDisplay-Bold" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
input {
  font-family: "Avenir Book" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.navbar-brand img {
  height: 50px !important;
}
.navbar-nav .nav-link .nav-link-inner--text,
.navbar-nav .nav-link:not(.btn) {
  color: black;
}
.headertit {
  font-size: 90px;
  line-height: 90px;
}
p {
  color: black;
}
.headerbgg {
  background-image: url(../img/nest/headerbg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 110% 100%;
}
.btn-site-pri {
  font-size: 16px;
  text-transform: capitalize !important;
  background: #f58634 !important;
  border: #f58634 !important;
  padding: 20px 46px !important;
  box-shadow: 0px 0px !important;
}
.bg-theme {
  background: #f58634 !important;
}
.text-col {
  color: #f58634 !important;
}
.btn-site-outl {
  font-size: 16px;
  text-transform: capitalize !important;
  border-color: #f58634 !important;
  color: #f58634 !important;
  padding: 20px 46px !important;
  box-shadow: 0px 0px !important;
}
.btn-site-outl:hover {
  background: #f58634 !important;
  color: white !important;
}
.bg-themelight {
  background: #fff7f1 !important;
}
.footer .nav .nav-item .nav-link,
.text-black {
  color: black !important;
}
.text-right-md {
  text-align: right;
}
@media (min-width: 768px) {
  .section-hero {
    min-height: 100vh !important;
  }
}
.justify-content-md {
  justify-content: flex-end;
}

.navbar-nav .nav-link.active .nav-link-inner--text {
  color: #f58634 !important;
}

@media (max-width: 768px) {
  .headertit {
    font-size: 61px;
    line-height: 56px;
  }
  .ptsm-0 {
    padding-top: 0px !important;
  }
  .hidesm {
    display: none;
  }
  .headerbgg {
    background-image: none;
  }
  .mt-2-sm {
    margin-top: 10px;
  }
  .text-left-sm {
    text-align: left !important;
  }
  .jsstart-sm {
    justify-content: start !important;
  }
}

.tagslist span {
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0);
  color: #1e0a3c;
  color: #1e0a3c;
  border-color: #dbdae3;
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;
  text-transform: capitalize;
  padding: 9px 20px;
  margin-right: 10px;
  line-height: 3.5;
}

.list-unstyled-icons li {
  padding-left: 25px;
  margin-bottom: 20px;
}
.list-unstyled-icons .inline-icon {
  float: left;
  margin-left: -26px;
}

.text-col {
  color: #f58e43;
}
.gal {
  -ms-column-count: 3;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}
.gal img {
  width: 100%;
  padding: 7px 0;
}

.bradius {
  border-radius: 18px;
}
.text-align-justify {
  text-align: justify;
}
.businesseslogo {
  overflow: hidden;
  height: 400px;
}
.business-grid-child {
  animation: scrollUp 15s linear infinite;
}
.businesslogo-box {
  border-radius: 3px;
  flex-basis: calc(33.33333% - 20px);
  flex-grow: 0;
  flex-shrink: 0;
  height: 70px;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px;
  padding: 0 25px;
}

.hvr-sweep-to-right {
  display: inline-block;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
  bottom: 0;
  background: #0000001c;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:active,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:hover {
  color: #fff;
}
.hvr-sweep-to-right:active:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@media (max-width: 500px) {
  .gal {
    -ms-column-count: 1;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }
}
